.banner-about {
    color: white;
    text-align: center;
    height: 93vh;
    background-size: cover !important;
    display: flex;

    h1 {
      margin-top: 50px;
    }
}

.up {
  padding-top: 25px;
}

.color-rose {
  color: #ce8485;
  font-size: 26px;
}

.smaller {
  font-size: 13px;
}
