/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.white {
  color:white;
  fill:white;
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}
