
  <nav class="navbar">
    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>

    <a href="#" class="brand"><%= cl_image_tag("logo13_pqprzs",
      width: 40, height: 20) %>ordWar</a>
    <div class="left">
      <a href="#" class="link">Exercices</a>
      <a href="#" class="link">Profile</a>
      <a href="#" class="link">Scoreboard</a>
    </div>
    <div class="right">
      <a href="#" class="link">Login</a>
    </div>
  </nav>


