<div class="banner-about" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'library.jpg' %>');">
  <div class = "first-txt" >
    <h1 class="color-rose">About</h1>


<div class="up">

    <p><span class = "color-rose">W</span>ord Warrior is an academic English vocabulary-learning platform based on the following learning principles:</p>

</div>

<div class ="cards-about">

<div class = "card-about">
    <p> <span class="title-about"> Academic Word List</span><br><span class = "color-rose">W</span><span class="smaller">hen using English for academic purposes, some words are more important than others.  This platform uses the Academic Word List (AWL), developed by Averil Coxhead at Victoria University of Wellington, New Zealand. Coxhead analyzed a database of 3.5 million words used in academic journals, textbooks, course workbooks, and lab manuals to develop a list of the 570 most common English words across the academic disciplines. Word Warrior targets these words.</span></p>
</div>

<div class = "card-about">
    <p> <span class="title-about"> Repetition</span><br><span class = "color-rose">T</span><span <class class="smaller"></class>o learn a word, it is not enough to study it once; repetition is essential. Researcher Paul Nation has shown that learners need to encounter a word at least five times and as many as 15 times to fully integrate it into their vocabulary. Word Warrior tracks the learner’s correct use of each word, and marks the word as learned when the learner has used it correctly ten times.</span></p>
</div>

<div class = "card-about">
    <p><span class="title-about"> Multiple context</span><br><span class = "color-rose">L</span><span class="smaller">earners need to see words in multiple contexts to understand shades of meaning and the different grammatical patterns in which the words are used. Word Warrior is based on a database of 50,000 sentences developed by teacher-researcher Gerry Lutton. Learners encounter words in multiple forms and different sentences, and each 10-sentence exercise is randomly generated at each level of use-frequency. This means that users will be sure to repeatedly encounter the target words of each level, but will never have the same exercise twice.</span></p>
    </div>
</div>

<div class = "down">

    <p><span class = "color-rose">D</span><span class="smaller">evelopers’ Note: This platform was developed by Maxence Nesme, Jules Wittock, and Douglas Lowney as a final project for Batch #73 (Brussels) of Le Wagon coding bootcamp. The platform code is a work-in-progress, and is available as open source on Github. The underlying database is owned by Gerry Lutton, and may by licensed for use in schools at http://www.cpr4esl.com/gerrys_vocab_teacher/index.html.
    </span>
</p>
</div>

  </div>
</div>


