<div class="banner" style="background: linear-gradient(40deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'graduate_image.jpg' %>');">
  <div class="banner-content">
    <h1>WALK THE TALK</h1>
    <p>Learn essential Academic Vocabulary to improve your reading,
    writing and discussion.</p>
    <div class="icons">
      <i class="fa fa-book fa-5x" aria-hidden="true"></i>
      <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
      <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
    </div>
    <button class="btn-cta">
      <% if user_signed_in? %>
      <%= link_to "GO TO EXERCISES", levels_path %>
      <% else %>
      <%= link_to "CREATE YOUR ACCOUNT NOW", new_registration_path(User.new) %>
      <% end %>
    </button>
    <div class="pushtobottom"></div>

  </div>
</div>
