

<div class="container">
  <ol>
    <div class="col-sm-12"> <li> He has a successful  _ _ _ _  as a lawyer.</li> </div>
    <div class="col-sm-12"><li>The thieves threw  _ _ _ _  in his face and made him blind.</li> </div>
    <div class="col-sm-12"><li>To improve the country's economy, the government decided on economic  _ _ _ _ .</li> </div>
    <div class="col-sm-12"><li>She wore a beautiful green  _ _ _ _  to the ball.</li> </div>
    <div class="col-sm-12"><li>The government tried to protect the country's industry by reducing the  _ _ _ _  of cheap goods.</li> </div>
  </ol>
</div>

