.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: inherit;
  position: relative;
  margin: 10px;
}

.card-category {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: relative;
  text-align: center;
  text-justify: bottom;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.cards-about {
  display: flex;
  padding-top: 25px;
  text-align: left;
  margin: 10px 80px;
}

.card-about {
  margin: 25px;
}

.down {
  padding-top: 25px;
  text-align: left;
  margin: 20px 220px;
}


.card-exo h1 {
 color: #4180b5;
}

.card-exo p {
 text-align: text-center;
}

.new-btn {
  background-color: #4895d6;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.new-btn :hover{
color: white;
background-color: #4180b5;
  }


