@import "alert";
@import "avatars";
@import "badges";

h1 {
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: arial;
}

.container {
  margin: 0 auto;
  width: 970px;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

p {
  font-size: 19px;
}

.list_style {
  list-style-type:decimal;
  li {
    margin: 20px 0;
  }
}

